

<% @users.each do |user| %>
  <div class='span8 well'>
    <p>
      <%= link_to user.username, user_path(user) %> 
    </p>
    <p>
  <% if logged_in? %>
    <% if !current_user.followings.include?(user) %>
      <%= link_to "BeFriend", user_friendships_path(user), method: 'post' %>
    <% else %>   
      <%= link_to "UnFriend", user_friendship_path(user, current_user), method: 'delete' %>
    <% end %>
  <% end %>
</p>
  </div>
<% end %>

<%= render 'shared/will_paginate' %>